@font-face {
   font-family: 'Qatar2022Arabic-Heavy';
   font-display: swap;
   src: url('file:///C:/Users/Elnemr/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-26_141925/fonts/Qatar2022Arabic-Heavy/font.ttf');
}
